body {
		font-family: "Trebuchet MS",Georgia,"Times New Roman",Times,serif;
		background-color: #d8d8d8;

}

#wrapper {
	margin: auto;
	background-color: #FFF;
	height: 800px;
	width: 80%;
	border-radius: 10px;
}

#info {
	height: 200px;
	border: 1px solid;
	margin-left: 20px;
	margin-right: 20px;

}

#menubar {
	background-color: #111;
}

ul {
	list-style-type: none;
	padding: 0;
	margin: 0;
	overflow: hidden;

}
 
ul li {
	display: inline;
	float: left;

}

li a {
	text-decoration: none;
	padding: 10px;
	color: #FFF;
	display: block;
	font-size: 12px;
}

a:hover {
	background-color: green;
}

.active {
	background-color: green;
}

.general {
	text-align: justify;
	margin-left: 20px;
	margin-right: 20px;

}

.general h3 {
	font-size: 15pt;
	border-bottom: 1px dotted;
}














