body {
	background-color:#CCCCCC;
	height: 1000px;
	margin:;
}
.title {
	text-align: center;
}
.Work_Experience {
	
}

.Teaching_Experience {
	
}

.Technical_Skills {
	
}

#wrapper {
	margin: auto;
	background-color: #FFFFFF;
	width: 80%;
}