img {
	width:100px;
}

h2 {
	font: sans-serif;
	color: blue;
}

h3 {
	font: sans-serif;
}

footer {
	text-align: center;
}

p {
	font: 16px;
	font-family: sans-serif;
}

table {
	border-collapse: collapse;
	width: 100%;
}

td, th {
	border: 1px solid #dddddd;
	text-align: left;
	padding: 8px;
	font-family: sans-serif;
}

tr:nth-child(even) {
	background-color: #dddddd;
}